@media only screen 
  and (min-device-width: 325px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

.main {
    border: 1px black solid;
    background-color: azure;
    margin: 5px;
    padding: 5px:
}

/* fruit image flexbox */
.startPageFruit {
  text-align: center;
  margin: 20px;
  padding: 0px;
}

.fruitPic{
  flex: 1;
  margin: auto;
}

img{
  width: 300px;
  height: 400px;
  border: #70EE9C 10px solid;
}
/* End of fruit image flexbox */


h1{
  text-align: center;
  font-family: 'Sen', sans-serif;
}

h4{
  text-align: center;
  font-family: 'Sen', sans-serif;
  font-size: xx-large;
  color: blueviolet;
}
 
button{
  border: #70EE9C 7px solid;
}


/* start button flex box*/
.start-button-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 50%;
  padding-left: 25%;
  padding-right:0;
  margin: 10px;
}

.start-button{
  justify-content: center; 
  height: 50px;
  width: 200px;
  background-color:#FFF05A ;
  border: black solid 5px;
}
/* start button flex box*/




/* css from johnathan */

form label,
form p {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: gray;
    font-family: arial;
}
form input[type="radio"] {
    font-size: 16px;
}
form input[type="radio"]+label {
    display: inline;
    color: #000;
    font-size: 16px;
}
form h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}